<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>IAAM Authen (admin)</title>

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">

    <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="icon" href="../img/icon.png">
    <link rel="import" href="../elements/header-element.html">
    <link rel="import" href="../elements/footer-element.html">
    <link rel="import" href="../elements/admin-app.html">
    <link rel="import" href="../bower_components/paper-button/paper-button.html">
    
    
    <style>
      body {
        margin: 0;
        width: 100%;
        min-height: 100%;
        font-family: 'Roboto', 'Noto', sans-serif;
        position: relative;
      }

      html {
        height: 100%;
      }
      
    </style>
  </head>
  <body>
    <admin-app></admin-app>
    </body>
</html>
