<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title> IAAM Authen </title>
    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">

    <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="icon" href="../img/icon.png">
    <link rel="import" href="../elements/header-element.html">
    <link rel="import" href="../elements/footer-element.html">
    <link rel="import" href="../elements/forgetpassform-element.html">
    <style>
      body {
        margin: 0;
        min-height: 100%;
        position: relative;
        font-family: 'Roboto', 'Noto', sans-serif;
        min-width: 350px;
      }

      html {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <header-element></header-element>
    <forgetpassform-element></forgetpassform-element>
    <footer-element></footer-element>
  </body>
</html>
