<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

        <title>IAAM Authen</title>

        <link rel="manifest" href="/manifest.json">

        <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>

        <link rel="icon" href="../img/icon.png">
        <link rel="import" href="../elements/header-element.html">
        <link rel="import" href="../elements/footer-element.html">
        <link rel="import" href="../../bower_components/polymer/polymer.html">
        <link rel="import" href="../../bower_components/iron-image/iron-image.html">
        <link rel="import" href="../../bower_components/paper-button/paper-button.html">

        <style>
            body {
                margin: 0;
                min-height: 100%;
                font-family: 'Roboto', 'Noto', sans-serif;
                position: relative;
            }

            html {
                height: 100%;
            }

            :host {
                font-family: roboto;
                max-width: 100%;
            }
            #full-width-container {
                width: 100%;
                max-width: 650px;
                margin: auto;
            }

            #full-width {
                width: 100%;
                --iron-image-width: 100%;
            }

            a {
                text-decoration: none;
                color: black;
                line-height: 40px;
            }

            @media screen and (max-width: 640px){
                
            }
        </style>
    </head>
    <body>
        <header-element></header-element>
        <div align="center" style="font-family: roboto;">
            <div id="full-width-container">
                <iron-image class="img-logo" id="full-width" alt="The Polymer logo." src="../img/trb-reg.png"></iron-image>
            </div>
            <p>
            <span>We have just sent a confirmation to your e-mail</span>
            </p>
            <span>
                <strong>
                    Click the link
                </strong>
                we have just sent you to complete.
            </span>
            <br>
            <a href="/" target="_self">
                <paper-button raised style="height: 35px; margin-top: 20px; --paper-button-ink-color: rgb(156, 39, 176);">
                    Done!
                </paper-button>
            </a>
        </div>
        <footer-element></footer-element>
    </body>
</html>
