<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title> <%=title%> </title>

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">

    <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="icon" href="../img/icon.png">
    <link rel="import" href="../elements/header-element.html">
    <link rel="import" href="../elements/footer-element.html">
    <link rel="import" href="../../bower_components/paper-button/paper-button.html">
    <style>
      body {
        margin: 0;
        min-height: 100%;
        font-family: 'Roboto', 'Noto', sans-serif;
        position: relative;
      }

      html {
        height: 100%;
      }

      a {
        padding: 0 px;
        text-decoration: none;
        color: black;
        line-height: 40px;
      }
      
    </style>
  </head>
  <body>
    <header-element></header-element>
      <div align="center" style="display: block; font-family: roboto;">
            <div id="full-width-container">
                <iron-image class="img-logo" id="full-width" alt="The Polymer logo." src="../img/trb-reg.png"></iron-image>
            </div>
            <a href="/register" target="_self">
            <paper-button raised style="height: 35px; margin-top: 20px; --paper-button-ink-color: rgb(156, 39, 176);">
                Register
            </paper-button>
            </a>

            <a href="/forget-pass" target="_self">
            <paper-button raised style="height: 35px; margin-top: 20px; --paper-button-ink-color: rgb(156, 39, 176);">
                Forget Password
            </paper-button>
            </a>

        </div>
    <footer-element></footer-element>
  </body>
</html>
