<dom-module id="admin-drawer">
    <template>
        <style>
            :host {
                width: 100%;

            }

            h1 {
                margin: 0;
                color: #9c27b0;
                font-size: 30px;
            }

        </style>

        <custom-style>
            <style is="custom-style">
                paper-card {
                    width: 256px;
                    height: 20%;
                    min-height: 65px;
                    max-height: 160px;
                    padding: 5px;
                    --paper-card-header-color: #9c27b0;
                }

                .card-content{
                    padding: 0;
                }
            </style>
        </custom-style>

        <paper-card image="" >
            <div class="card-content" style="text-align: center;">
                <h1>MAIN MENU</h1>
                Some content 
                <!-- {{strTitle}} -->
            </div>
        </paper-card>

    </template>

    <script>
        class AdminDrawer extends Polymer.Element {
            static get is() {return 'admin-drawer';}

            static get properties() {
                return {
                    strTitle: String,
                    };
                }


        }
        window.customElements.define(AdminDrawer.is, AdminDrawer)
    </script>
</dom-module>