<dom-module id="admin-provide">
    <template>
        <style>
            :host {
                min-height: 100%;
                min-width: 100px;
                display: block;
                padding: 0 10px;
            }

            paper-card {
                width: 100%;
                height: 100%;
                --paper-card-background-color: #F2F2F2;
                color: black;
            }

            .card-header {
                display: flex;
            }

            .card-content {
                padding: 10px;
            }

            .full-width-container {
                width: 100%;
                margin: auto;
            }

            vaadin-grid{
                font-size: 14px;
                min-height: 100%;
                height: 500px;
                /* max-height: 600px;  */
            }

            paper-button {
                color: black;
                background-color: #f1f1f1;
            }

            .appbut {
                padding: 10px;
                font-size: 14px;
                --paper-button-ink-color: #00C853;
            }

            .cardButtom {
                padding: 10px;
                float: right;
                display: flex;
            }

            .modal_buttons {
                float: right;
                margin:15px;
            }

            .modal_content {
                text-align:left;
                padding-left: 17%;
            }

            paper-dialog#detail_modal {
                margin: 30px;
                min-width: 300px;
                max-width: 600px;
                width: 70%;
                height: 420px;
                min-height: 390px;
                max-height: 420px;
            }

            paper-dialog#delete_modal {
                margin: 30px;
                min-width: 300px;
                max-width: 600px;
                min-height: 280px;
                width: 70%;
                height: 20%;
            }
            
            paper-dialog#accept_modal {
                margin: 30px;
                min-width: 300px;
                max-width: 600px;
                min-height: 280px;
                width: 70%;
                height: 20%;
            }

            @media screen and (max-width: 640px){
                :host {
                    padding: 0 5px;
                }

                .modal_content {
                    text-align:left;
                    padding-left: 10%;
                    font-size: 12px;
                }

                paper-dialog#detail_modal {
                    width: 80%;
                    height: 60%;
                }
                
                .modal_buttons {
                    float: none;
                    text-align: center;
                    margin:0;
                }
            }
        
        </style>

        <iron-ajax
            id="appAccReq"
            url="/approveAccount"
            handle-as="json"
            on-response="appAccRes">
        </iron-ajax>

        <iron-ajax
            id="appAccsReq"
            url="/approveAccounts"
            handle-as="json"
            on-response="appAccRes">
        </iron-ajax>

        <iron-ajax
            id="delAccReq"
            url="/deleteAccount"
            handle-as="json"
            on-response="delAccRes">
        </iron-ajax>

        <div class="full-width-container">
            <paper-card heading="Provide User" elevation="1" animated-shadow="false">
                <div class="card-content">
                    <b>[[userdata.length]] of [[userdata.length]]</b>

                    <div  style="overflow-x: scroll; overflow-y: hidden;">
                        <vaadin-grid
                        style="min-width: 993px;" 
                        id="grid" 
                        items="[[userdata]]">
                        
                            <vaadin-grid-column  width="50px" flex-grow="0">
                                <template class="header">
                                    <!--<input aria-label="Select All" type="checkbox" on-click="_invert" checked="[[_isChecked(inverted, indeterminate)]]" indeterminate="[[indeterminate]]">
                                    <div style="text-align: center;">
                                        <paper-checkbox 
                                        aria-label="Select All" 
                                        on-click="_invert"
                                        checked="[[_isChecked(inverted, indeterminate)]]"
                                        indeterminate="[[indeterminate]]"></paper-checkbox>
                                    </div>-->
                                </template>

                                <template>
                                    <div style="text-align: center;">
                                        <paper-checkbox 
                                        aria-label="Select Row" 
                                        checked="[[_isSelected(inverted, selected)]]" 
                                        on-change="_selectItem" 
                                        >
                                        </paper-checkbox>
                                    </div>
                                </template>
                            </vaadin-grid-column>

                            <vaadin-grid-column width="25%" flex-grow="0">
                                <template class="header"><center>Organize</center></template>
                                <template><center>[[item.o]]</template>
                            </vaadin-grid-column>

                            <vaadin-grid-column width="15%" flex-grow="0">
                                <template class="header"><center>Username</template>
                                <template><center>[[item.uid]]</template>
                            </vaadin-grid-column>

                            <vaadin-grid-column width="15%" flex-grow="0">
                                <template class="header"><center>First name</template>
                                <template><center>[[item.givenName]]</template>
                            </vaadin-grid-column>

                            <vaadin-grid-column width="15%" flex-grow="0">
                                <template class="header"><center>Last name</template>
                                <template><center>[[item.sn]]</template>
                            </vaadin-grid-column>

                            <vaadin-grid-column width="10%" flex-grow="0">
                                <template class="header"><center>Birth date</template>
                                <template><center>[[getDate(item.mobile)]]</template>
                            </vaadin-grid-column>

                            <vaadin-grid-column  width="15%" flex-grow="0">
                                <template class="header"></template>
                                <template>
                                    <div>
                                        <div style="float:right">
                                            <paper-icon-button id="[[index]]" on-click="showinfo" icon="info" ></paper-icon-button>
                                            <paper-icon-button id="[[index]]" style="color: #E53935;" on-click="declineAccountModal" icon="highlight-off" ></paper-icon-button>
                                            <paper-icon-button id="[[index]]" style="color: #4CAF50;" on-click="allowAccountModal" icon="done" ></paper-icon-button>
                                        </div>
                                    </div>
                                </template>
                            </vaadin-grid-column>
                        </vaadin-grid>
                    </div>
                </div>
            <div class="card-actions">
                <div class="cardButtom">
                    <paper-button class="appbut" on-click="allowAccountsModal" raised>Approves</paper-button>
                    <a id="refresh" type="" href="/admin-page"></a>
                </div>
            </div>
            </paper-card>
        </div>

        <paper-dialog id="detail_modal">
            <h2>User Detail</h2>
            <div class="modal_content">
                <p>Username  : [[user_username]]</p>
                <p>Firstname : [[user_fname]]</p>
                <p>Lastname  : [[user_lname]]</p>
                <p>Sex : [[user_sex]]</p>
                <p>E-mail : [[user_email]]</p>
                <p>Birth Date : [[user_bdate]]</p>
                <p>Moblie number : [[user_mbnumber]]</p>
                <p>Organization : [[user_org]]</p>
            </div>
            <div class="modal_buttons">
                <paper-button dialog-dismiss>
                    <iron-icon style="padding: 3px;--iron-icon-fill-color: black" icon="cancel"></iron-icon>
                    Close</paper-button>
            </div>
        </paper-dialog>

        <paper-dialog id="delete_modal">
            <h2>Decline User</h2>
            <div class="modal_content">
                <p>Username : [[user_username]]</p>
                <p>Firstname : [[user_fname]]</p>
                <p>Lastname : [[user_lname]]</p>
                <p>Organization : [[user_org]]</p>
            </div>
            <div class="modal_buttons">
                <paper-button dialog-confirm style="--paper-button-ink-color: #E53935;" on-click="deleteAccount">
                    <iron-icon style="padding: 3px;--iron-icon-fill-color: #E53935" icon="delete"></iron-icon>
                    Delete</paper-button>
                <paper-button dialog-dismiss>
                    <iron-icon style="padding: 3px;--iron-icon-fill-color: black" icon="cancel"></iron-icon>
                    Cancle</paper-button>
            </div>
        </paper-dialog>

        <paper-dialog id="accept_modal">
            <h2>Approve User</h2>
            <div class="modal_content">
                <p>Username : [[user_username]]</p>
                <p>Firstname : [[user_fname]]</p>
                <p>Lastname : [[user_lname]]</p>
                <p>Organization : [[user_org]]</p>
            </div>
            <div class="modal_buttons">
                <paper-button dialog-confirm style="--paper-button-ink-color: #00C853;" on-click="allowAccount">
                    <iron-icon style="padding: 3px;--iron-icon-fill-color: #00C853" icon="done"></iron-icon>
                    Confirm</paper-button>
                <paper-button dialog-dismiss>
                    <iron-icon style="padding: 3px;--iron-icon-fill-color: black" icon="cancel"></iron-icon>
                    Cancle</paper-button>
            </div>
        </paper-dialog>

        <paper-dialog id="accept_users_modal">
            <h2>Approve User</h2>
            <div class="modal_content">
                <p>Approve [[numlistallowUser]] user(s)</p>
            </div>
            <div class="modal_buttons">
                <paper-button dialog-confirm style="--paper-button-ink-color: #00C853;" on-click="allowAccounts">
                    <iron-icon style="padding: 3px;--iron-icon-fill-color: #00C853" icon="done"></iron-icon>
                    Confirm</paper-button>
                <paper-button dialog-dismiss>
                    <iron-icon style="padding: 3px;--iron-icon-fill-color: black" icon="cancel"></iron-icon>
                    Cancle</paper-button>
            </div>
        </paper-dialog>

        <paper-dialog id="load_modal" modal>
            <div style="text-align: center; margin: 0; display: flex; padding: 20px;">
                <paper-spinner id="loadspin" active></paper-spinner>
                <span style="padding: 5px;">Loading...</span>
            </div>
        </paper-dialog>


    </template>
    <script>
        class AdminProvide extends Polymer.Element {
            static get is() { return 'admin-provide'; }

            static get properties() {
                return {
                    userdata: {
                        type:Array,
                    },

                    user_org: {
                        type: String,
                        value: ''
                    },

                    user_username: {
                        type: String,
                        value: ''
                    },

                    user_fname: {
                        type: String,
                        value: ''
                    },

                    user_lname: {
                        type: String,
                        value: ''
                    },

                    user_bdate: {
                        type: Date,
                        value: ''
                    },

                    user_sex: {
                        type:String,
                        value: ''
                    },

                    user_email: {
                        type: String,
                        value: ''
                    },

                    user_mbnumber: {
                        type:Number,
                        value: ''
                    },

                    activeItem: {
                        observer: '_activeItemChanged'
                    },

                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_pageChanged',
                    },
                    
                    rootPattern: String,
                    routeData: Object,
                    numlistallowUser: String,
                    
                    inverted: {
                        type: Boolean,
                        value: false
                    },

                    indeterminate: {
                        type: Boolean,
                        value: false
                    },

                    listallowUser: {
                        type: Array,
                        value: []
                    },

                    focusUser: {

                    },
                };
            }

            ItemUsername(change) {
                if(change)
                    return change[1]
            }

            ready() {
                super.ready()
            }

            allowAccountModal(e) {
                this.focusUser = this.userdata[e.target.id];
                this.setModalDeatil(this.focusUser);
                this.$.accept_modal.open();
                console.log(this.focusUser)                
            }

            declineAccountModal(e) {
                this.focusUser = this.userdata[e.target.id];
                this.setModalDeatil(this.focusUser);
                this.$.delete_modal.open();
                console.log(this.focusUser);
            }

            showinfo(e){
                // console.log(this.$.grid.selectedItems)
                this.focusUser = this.userdata[e.target.id];
                this.setModalDeatil(this.focusUser);
                this.$.detail_modal.open();

                console.log(this.focusUser)
            }

            allowAccountsModal(){
                this.numlistallowUser = this.listallowUser.length;
                this.$.accept_users_modal.open();
            }

            allowAccounts() {
                this.$.load_modal.open();
                if(this.listallowUser.length > 1){  
                    console.log(this.listallowUser)
                    this.$.appAccsReq.params = {app_usernames : this.listallowUser};
                    this.userdata = [];
                    this.$.appAccsReq.generateRequest();
                }else if(this.listallowUser.length == 1){
                    console.log(this.listallowUser)
                    this.$.appAccReq.params = {app_username : this.listallowUser};
                    this.userdata = [];
                    this.$.appAccReq.generateRequest(); 
                }
            }

            deleteAccount(){
                if(true){
                    // alert('Delete : ' + this.focusUser.cn[1]);
                    this.$.delAccReq.params = {del_username : this.focusUser.uid};
                    this.userdata = [];
                    this.$.delAccReq.generateRequest();
                }
            }

            allowAccount(){
                this.$.load_modal.open();
                if(true){
                    // alert('Allow : ' + this.focusUser.cn[1]);
                    this.$.appAccReq.params = {app_username : this.focusUser.uid};
                    this.userdata = [];
                    this.$.appAccReq.generateRequest();
                }
            }

            setModalDeatil(user) {
                this.user_username = user.uid;
                this.user_fname = user.givenName;
                this.user_lname = user.sn;
                this.user_sex = user.title;
                this.user_email = user.mail;
                this.user_bdate = this.getDate(user.mobile);
                this.user_mbnumber = user.telephoneNumber;
                this.user_org = user.o;
            }

            getDate(epoch) {
                // console.log(epoch);
                var d = new Date(epoch *1000);
                // console.log(d);
                var month = '' + (d.getMonth() + 1);
                var day = '' + d.getDate();
                var year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                // console.log([year, month, day].join('-'));
                return [day, month, year].join('-');
            }

            delAccRes(data) {
                // console.log(data)
                // console.log(data.detail.response)
                if(data.detail.response.result == true){
                    // alert('Delete Done!')
                }else{
                    alert('Delete Fail!')
                }
                this.$.refresh.click();
            }

            appAccRes(data) {
                // console.log(data)
                // console.log(data.detail.response)
                if(data.detail.response.result == true){
                    // alert('Approve Done!')
                }else{
                    alert('Approve Fail!')
                }
                this.$.refresh.click();
            }

            _activeItemChanged(item) {
                this.$.grid.selectedItems = item ? [item] : [];
                activeItem = item;
            }

            _selectItem(e) {
                var username = e.model.item.uid;
                // console.log(username);

                var index = this.listallowUser.indexOf(username);
                // console.log(index)
                if (e.target.checked === this.inverted) {
                    this.$.grid.deselectItem(e.model.item);
                    if (index > -1) {
                        this.listallowUser.splice(index, 1);
                    }
                } else {
                    // console.log('push' + username);
                    this.$.grid.selectItem(e.model.item);
                    this.listallowUser.push(username);
                }
                this.numlistallowUser = this.listallowUser.length;
                this.indeterminate = this.$.grid.selectedItems.length > 0;
                // console.log(this.numlistallowUser);
                // console.log(this.listallowUser)
                // console.log(this.$.grid.selectedItems)
            }

            _isSelected (inverted, selected) {
                return inverted != selected;
            }

            // _invert(e) {
            //     this.inverted = !this.inverted;
            // }

            // _isChecked(inverted, indeterminate) {
            //     return indeterminate || inverted;
            // }
        }
        window.customElements.define(AdminProvide.is, AdminProvide);
    </script>
</dom-module>