<dom-module id="admin-usermanage">
    <template>
        <style>
            :host {
                min-height: 100%;
                min-width: 100px;
                display: block;
                padding: 0 10px;
            }

            paper-card {
                width: 100%;
                height: 100%;
                color: black;
                --paper-card-background-color: #F2F2F2;
            }

            .card-header {
                display: flex;
            }

            .card-content {
                padding: 10px;
            }

            .full-width-container {
                width: 100%;
                margin: auto;
            }

            vaadin-grid{
                font-size: 14px;
                min-height: 100%;
                height: 500px;
                /* max-height: 1000px; */
            }

            paper-button {
                color: black;
                background-color: #f1f1f1;
            }

            .appbut {
                padding: 10px;
                font-size: 14px;
                --paper-button-ink-color: #00C853;
            }

            .cardButtom {
                padding: 10px;
                float: right;
                display: flex;
            }

            .modal_buttons {
                float: right;
            }

            .modal_content {
                text-align:left;
                padding-left: 17%;
            }

            paper-dialog#detail_modal {
                margin: 30px;
                min-width: 300px;
                max-width: 600px;
                width: 70%;
                height: 420px;
                min-height: 390px
            }

            paper-dialog#editUser_modal {
                margin: 30px;
                min-width: 300px;
                min-height: 430px;
                max-width: 600px;
                max-height: 440px;
                width: 70%;
                height: 70%;
            }

            @media screen and (max-width: 640px){
                .card-header {
                    display: block;
                }
                
                .modal_content {
                    text-align:left;
                    padding-left: 10%;
                    font-size: 12px;
                }

                paper-dialog#detail_modal {
                    width: 80%;
                    height: 60%;
                }

                .modal_buttons {
                    float: none;
                    text-align: center;
                    margin:0;
                }
            }
        
        </style>

        <iron-ajax
            id="editAccReq"
            url="/editAccount"
            handle-as="json"
            on-response="editAccRes">
        </iron-ajax>

        <iron-ajax
            id="delAccReq"
            url="/deleteAccount"
            handle-as="json"
            on-response="delAccRes">
        </iron-ajax>

        <div class="full-width-container">
            <paper-card elevation="1" animated-shadow="false">
                <div class="card-content" >
                    <div class="card-header" style="display: block;">
                        <span style="font-size: 24px;">User Management</span>

                        <div style=" display: flex;">
                            <paper-input
                            id="input_SearchKW"
                            label="Search"
                            required
                            on-keydown="checkForEnter"
                            on-input="_search"
                            error-message=" "
                            value="{{strTitle}}">
                                <iron-icon style="--iron-icon-fill-color: #3F51B5" icon="search" slot="prefix"></iron-icon>
                                <iron-icon icon="backspace" slot="suffix" on-click="_clearSearchKW"></iron-icon>
                                <paper-tooltip>the name means "different lizard"</paper-tooltip>
                            </paper-input>
                        </div>

                    </div>

                    <div style="overflow-x: scroll; overflow-y: hidden;">
                        <vaadin-grid
                        style="min-width: 1300px;"
                        id="grid"
                        size="200"
                        items="[[usersTemp]]">

                            <vaadin-grid-column width="20.32520325203252%" flex-grow="0">
                                <template class="header"><center>Organize</center></template>
                                <template><center>[[item.o]]</template>
                            </vaadin-grid-column>

                            <vaadin-grid-column>
                                <template class="header" width="12.19512195121951%" flex-grow="0"><center>Username</template>
                                <template><center>[[item.uid]]</template>
                            </vaadin-grid-column>   

                            <vaadin-grid-column width="12.19512195121951%" flex-grow="0">
                                <template class="header"><center>First name</template>
                                <template><center>[[item.givenName]]</template>
                            </vaadin-grid-column>

                            <vaadin-grid-column width="12.19512195121951%" flex-grow="0">
                                <template class="header"><center>Last name</template>
                                <template><center>[[item.sn]]</template>
                            </vaadin-grid-column>

                            <vaadin-grid-column width="8.13008130081301%" flex-grow="0">
                                <template class="header"><center>Birth date</template>
                                <template><center>[[getDate(item.mobile)]]</template>
                            </vaadin-grid-column>

                            <vaadin-grid-column width="16.26016260162602%" flex-grow="0">
                                <template class="header"><center>E-mail</template>
                                <template><center>[[item.mail]]</template>
                            </vaadin-grid-column>

                            <vaadin-grid-column width="8.13008130081301%" flex-grow="0">
                                <template class="header"><center>Mobile Number</template>
                                <template><center>[[item.telephoneNumber]]</template>
                            </vaadin-grid-column>

                            <vaadin-grid-column  width="10.56910569105691%" flex-grow="0">
                                <template class="header"></template>
                                <template>
                                    <div>
                                        <div style="float:right">
                                            <paper-icon-button id="[[index]]" on-click="showinfo" icon="info" ></paper-icon-button>
                                            <paper-icon-button id="[[index]]" style="color: rgb(156, 39, 176);" on-click="editUserModal" icon="create" ></paper-icon-button>
                                            <paper-icon-button id="[[index]]" style="color: #E53935;" on-click="deleteAccountModal" icon="highlight-off" ></paper-icon-button>
                                        </div>
                                    </div>
                                </template>
                            </vaadin-grid-column>
                        </vaadin-grid>
                    </div>
                </div>
            <div class="card-actions">
                <div class="cardButtom">
                </div>
            </div>
            </paper-card>
        </div>

        <paper-dialog id="detail_modal">
            <h2>User Detail</h2>
            <div class="modal_content">
                <p>Username : [[user_username]]</p>
                <p>Firstname : [[user_fname]]</p>
                <p>Lastname : [[user_lname]]</p>
                <p>Sex : [[user_sex]]</p>
                <p>E-mail : [[user_email]]</p>
                <p>Birth Date : [[user_bdate]]</p>
                <p>Moblie number : [[user_mbnumber]]</p>
                <p>Organization : [[user_org]]</p>
            </div>
            <div class="modal_buttons">
                <paper-button dialog-dismiss>
                    <iron-icon style="--iron-icon-fill-color: black" icon="cancel"></iron-icon>
                    Close</paper-button>
            </div>
        </paper-dialog>

        <paper-dialog id="editUser_modal">
            <h2>Edit User</h2>
            <div class="modal_content">
                <p>Username : [[user_username]]</p>
                <p>Firstname : <input type="" name="" value="{{user_fname::input}}"></p>
                <p>Lastname : <input type="" name="" value="{{user_lname::input}}"></p>
                <p>Sex : [[user_sex]]</p>
                <p>E-mail : [[user_email]]</p>
                <p>Birth Date : <input type="date" name="" value="{{user_bdate::input}}"></p>
                <p>Moblie number : <input type="number" name="" value="{{user_mbnumber::input}}"></p>
                <p>Organization : [[user_org]]</p>
            </div>
            <div class="modal_buttons" style="">
                <paper-button dialog-confirm style="--paper-button-ink-color: #3f51b5;" on-click="saveDetail">
                    <iron-icon style="--iron-icon-fill-color: #3f51b5" icon="save"></iron-icon>
                    Save</paper-button>
                <paper-button dialog-dismiss>
                    <iron-icon style="--iron-icon-fill-color: black" icon="close"></iron-icon>
                    Cancle</paper-button>
            </div>
        </paper-dialog>

        <paper-dialog id="delete_modal">
            <h2>Decline User</h2>
            <div class="modal_content">
                <p>Username : [[user_username]]</p>
                <p>Firstname : [[user_fname]]</p>
                <p>Lastname : [[user_lname]]</p>
                <p>Organization : [[user_org]]</p>
            </div>
            <div class="modal_buttons">
                <paper-button dialog-confirm style="--paper-button-ink-color: #E53935;" on-click="deleteAccount">
                    <iron-icon style="padding: 3px;--iron-icon-fill-color: #E53935" icon="delete"></iron-icon>
                    Delete</paper-button>
                <paper-button dialog-dismiss>
                    <iron-icon style="padding: 3px;--iron-icon-fill-color: black" icon="cancel"></iron-icon>
                    Cancle</paper-button>
            </div>
        </paper-dialog>

        <a id="refresh" type="" href="/admin-page"></a>
        
    </template>
  <script>
    class AdminUsermanage extends Polymer.Element {
      static get is() {return 'admin-usermanage';}

      static get properties() {
                return {
                    strTitle: String,
                    
                    user_org: {
                        type: String,
                        value: ''
                    },

                    user_username: {
                        type: String,
                        value: ''
                    },

                    user_fname: {
                        type: String,
                        value: ''
                    },

                    user_lname: {
                        type: String,
                        value: ''
                    },

                    user_bdate: {
                        type: Date,
                        value: ''
                    },

                    user_sex: {
                        type:String,
                        value: ''
                    },

                    user_email: {
                        type: String,
                        value: ''
                    },

                    user_mbnumber: {
                        type:Number,
                        value: ''
                    },

                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_pageChanged',
                    },
                    
                    rootPattern: String,
                    routeData: Object,
                    subroute: String,
                    
                    users: {
                        type:Array,
                        observer: '_activeItemChanged'
                    },

                    usersTemp: {
                        type: Array,
                        value: [],
                    },

                    inverted: {
                        type: Boolean,
                        value: false
                    },

                    listallowUser: {
                        type: Array,
                        value: []
                    },

                    searchKeyword: String,
                    focusUserDetail: {
                        type: Object,
                        value: {},
                    },

                };
            }

            ItemUsername(change) {
                if(change)
                    return change[1]
            }

            ready() {
                super.ready()
                
                // console.log(this.strTitle)
            }

            setModalDeatil(user) {
                this.focusUserDetail.username = user.uid;
                this.focusUserDetail.fname = user.givenName;
                this.focusUserDetail.lname = user.sn;
                this.focusUserDetail.title = user.title;
                this.focusUserDetail.mail = user.mail;
                this.focusUserDetail.bdate = this.getDate(user.mobile);
                this.focusUserDetail.mbnumber = user.telephoneNumber;
                this.focusUserDetail.org = user.o;

                this.user_username = this.focusUserDetail.username;
                this.user_fname = this.focusUserDetail.fname;
                this.user_lname = this.focusUserDetail.lname;
                this.user_sex = this.focusUserDetail.title;
                this.user_email = this.focusUserDetail.mail;
                this.user_bdate = this.focusUserDetail.bdate;
                this.user_mbnumber = this.focusUserDetail.mbnumber;
                this.user_org = this.focusUserDetail.org;
            }

            getDate(epoch) {
                // console.log(epoch);
                var d = new Date(epoch  *1000);
                // console.log(d);
                var month = '' + (d.getMonth() + 1);
                var day = '' + d.getDate();
                var year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                // return [day, month, year].join('-');
                return [year, month, day].join('-');
            }
            
            showinfo(e){
                var user = this.usersTemp[e.target.id];
                console.log(user)
                this.setModalDeatil(user);
                this.$.detail_modal.open();
            }


            editUserModal(e) {
                var user = this.usersTemp[e.target.id];
                console.log(user)
                this.setModalDeatil(user);
                this.$.editUser_modal.open();
            }

            _clearSearchKW() {
                this.$.input_SearchKW.value = "";
                this._search();
            }

            _search() {
                // console.log(this.$.input_SearchKW.value)
                if(this.$.input_SearchKW.validate()){
                    this.usersTemp = this.find();
                }else{
                    // console.log(this.usersTemp)
                    // this.users = this.usersTemp;
                    this.usersTemp = this.users;
                    
                }
            }

            find() {
                var res = [];
                for(var i in this.users){
                    // console.log(this.users[i]);
                    // console.log(this.usersTemp[i].cn[1].search(this.strTitle))
                    if(this.users[i].uid.search(this.strTitle) != -1){
                        // console.log(this.users[i]);
                        res.push(this.users[i]);
                    }else if(this.users[i].displayName.search(this.strTitle) != -1){
                        // console.log(this.users[i]);
                        res.push(this.users[i]);
                    }else if(this.users[i].telephoneNumber.search(this.strTitle) != -1){
                        // console.log(this.users[i]);
                        res.push(this.users[i]);
                    }else if(this.users[i].mail.search(this.strTitle) != -1){
                        // console.log(this.users[i]);
                        res.push(this.users[i]);
                    }else if(this.users[i].o.search(this.strTitle) != -1){
                        // console.log(this.users[i]);
                        res.push(this.users[i]);
                    }
                }
                return res;
            }

            checkForEnter(e) {
                if(e.code == 'Enter'){
                    this.$.search_but.click();
                }
            }

            _activeItemChanged(users) {
                if(users.length > this.usersTemp.length){
                    this.usersTemp = users
                }
                // console.log(this.usersTemp)
            }

            saveDetail() {
                console.log(this.focusUserDetail)

                var msg = "Username: " + this.user_username +
                "\nTitle: " + this.user_sex +
                "\nFname: " + this.user_fname + 
                "\nLname: " + this.user_lname + 
                "\nB-Date: " + this.user_bdate +
                "\nNumber: " + this.user_mbnumber +
                "\nE-mail: " + this.user_email + 
                "\nORG: " + this.user_org;

                // this.user_username = this.focusUserDetail.username;
                // this.user_fname = this.focusUserDetail.fname;
                // this.user_lname = this.focusUserDetail.lname;
                // this.user_sex = this.focusUserDetail.title;
                // this.user_email = this.focusUserDetail.mail;
                // this.user_bdate = this.focusUserDetail.bdate;
                // this.user_mbnumber = this.focusUserDetail.mbnumber;
                // this.user_org = this.focusUserDetail.org;
 
                alert(msg);
                
                this.$.editAccReq.params = {
                    edit_user_username: this.user_username,
                    edit_user_fname: this.user_fname,
                    edit_user_lname: this.user_lname,
                    edit_user_bdate: this.user_bdate,
                    edit_user_mobile: this.user_mbnumber
                    };
                this.$.editAccReq.generateRequest();
            }

            editAccRes(data){
                if(data.detail.response.result == true){
                    // alert('Approve Done!')
                    this.$.refresh.click();
                }else{
                    alert('Edit Fail!')
                }
            }

            deleteAccountModal(e) {
                var user = this.usersTemp[e.target.id];
                // console.log(user)
                this.setModalDeatil(user);
                this.$.delete_modal.open();
            }

            deleteAccount(){ 
                console.log('deldel')
                if(true){
                    // alert('Delete : ' + this.focusUser.cn[1]);
                    this.$.delAccReq.params = {del_username : this.focusUserDetail.username};
                    this.userdata = [];
                    this.$.delAccReq.generateRequest();
                }
            }
            
            delAccRes(data) {
                // console.log(data)
                // console.log(data.detail.response)
                if(data.detail.response.result == true){
                    // alert('Delete Done!')
                }else{
                    alert('Delete Fail!')
                }
                this.$.refresh.click();
            }
    }
    window.customElements.define(AdminUsermanage.is, AdminUsermanage)
  </script> 
</dom-module>