<dom-module id="admin-scorebroad">
    <template>
        <style>
            :host {
                display: block;
            }
            
            paper-card {
                padding: 10px;
                margin-right:4px;
                max-height: 100px;
                min-height: 90px;
            }

            paper-card, h1{
                margin: 0;
            }

            paper-card, h3 {
                margin: 0;
                padding: 5px;
            }

            iron-icon {
                padding: 0 10px;
            }

            .card-content {
                padding: 0;
                display: flex;
            }

            .card-actions {
                text-align: center;
                padding: 5px;
            }

            .icon {
                --iron-icon-height: 32px;
                --iron-icon-width: 32px;
            }

        </style>

        <style include="app-grid-style">
            :host {
                --app-grid-columns: 3;
                --app-grid-item-height: 50%;
                --app-grid-gutter: 10px;
            }

            .app-grid {
                padding: 10px;
                padding-left: 15px;
                list-style: none;
                min-height: 95px;
                max-height: 120px;
            }

            .item {
                background-color: white;
                max-height: 150px;
            }

            @media screen and (max-width: 640px){
                :host {
                    --app-grid-columns: 3;
                    --app-grid-item-height: 73%;
                    --app-grid-gutter: 5px;
                }

                .app-grid {
                    padding: 5px;
                    list-style: none;
                }

                .card-content {
                    text-align: center;
                }

                paper-care {
                    padding: 0px;
                }

                h3 {
                    font-size: small;
                    margin: 0;
                    padding: 0px;
                }
            }
        </style>
        
        <div class="app-grid" has-aspect-ratio>
            <div class="item">
                <paper-card>
                    <div class="card-content">
                        <iron-icon class="icon" icon="social:people"></iron-icon>
                            <span><h3>ALL</h3></span>
                    </div>
                    <div class="card-actions">
                        <h1>{{x}}</h1>
                    </div>
                </paper-card>
            </div>
            
            <div class="item">
                <paper-card>
                    <div class="card-content">
                        <iron-icon class="icon" icon="social:person"></iron-icon>
                            <span><h3>Current User</h3></span>
                    </div>
                    <div class="card-actions">
                        <h1>{{numCurrentUserData}}</h1>
                    </div>
                </paper-card>
            </div>

            <div class="item">
                <paper-card>
                    <div class="card-content">
                        <iron-icon class="icon" icon="social:person-add"></iron-icon>
                            <span><h3>New User</h3></span>
                    </div>
                    <div class="card-actions">
                        <h1>{{numNewUserData}}</h1>
                    </div>
                </paper-card>
            </div>
        </div>
    </template>
    
    <script>
        class AdminScoreBroad extends Polymer.Element{
            static get is() {return 'admin-scorebroad';}

            static get properties() {
                return {
                    numNewUserData: {
                        type: Number,
                        value: 0
                    },

                    numCurrentUserData: {
                        type: Number,
                        value: 0
                    },

                    x: {
                        type: Number,
                        value: 0
                    },
                };
            }

            ready() {
                super.ready()
            }
        }
        window.customElements.define(AdminScoreBroad.is, AdminScoreBroad)
    </script>
</dom-module>
