<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-grid/app-grid-style.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">

<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">

<link rel="import" href="admin-provide.html">
<link rel="import" href="admin-usermanage.html">
<link rel="import" href="admin-scorebroad.html">
<link rel="import" href="admin-drawer.html">


<dom-module id="admin-app">
  <template>
      <custom-style>
        <style is="custom-style">
          :host{
            width: 100%;
            --app-drawer-width: 256px;
          }
          
          app-drawer-layout:not([narrow]) [drawer-toggle] {
            display: none;
          }

          app-drawer {
            display: flex;
            flex-direction: column;
            justify-content: center;

            --app-drawer-scrim-background: rgba(0, 0, 0, 0.3);
            --app-drawer-content-container: {
              background-color: #F5F5F5;
            }
          }
          
          .drawer-list {
            margin: 0 20px;
          }

          .drawer-list a {
            display: block;
            padding: 0 16px;
            text-decoration: none;
            color: var(--app-secondary-color);
            line-height: 40px;
          }

          .drawer-list a.iron-selected {
            color: black;
            font-weight: bold;
          }

          iron-pages {
            height: 100%;
            color: white;
          }

          iron-pages div {
            /*width: 100%;*/
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          app-toolbar {
              height: 50px;
              background-color: rgb(156, 39, 176);
          }

          paper-icon-button {
            --paper-icon-button-ink-color: white;
          }

          paper-icon-button + [main-title] {
            margin-left: 24px;
          }

          .drawe-menu {
            text-align: center;
          }

          .drawe-menu paper-button {
            width: 100%;
            margin: 0;
            --paper-button-ink-color: rgb(156, 39, 176);
          }

          paper-progress {
              display: block;
              width: 100%;
              --paper-progress-active-color: rgba(255, 255, 255, 0.5);
              --paper-progress-container-color: transparent;
          }

          @media screen and (max-width: 640px){
            app-drawer {
              display: flex;
              --app-drawer-width: 256px;
              flex-direction: column;
              justify-content: center;
            }

            app-drawer {
              --app-drawer-scrim-background: rgba(0,0,0,0.4);
              --app-drawer-content-container: {
                  background-color: white;
                }
            }

            h3 {
              font-size: 100%;
            }
          }

        </style>
      </custom-style>
      
      <iron-ajax
          id="getnewUserReq"
          url="/admin-get-newuser"
          handle-as="json"
          on-response="data1Response"
          last-response="{{newUserData}}">
      </iron-ajax>

      <iron-ajax
          id="getCurrentUserReq"
          url="/admin-get-currentuser"
          handle-as="json"
          on-response="data2Response"
          last-response="{{currentUserData}}">
      </iron-ajax>

      <app-drawer-layout id="drawerlayout">
        <app-drawer id="drawer" slot="drawer">
           <admin-drawer str-title="{{str1}}"></admin-drawer> 

          <div class="drawe-menu">
            <paper-button  on-click="UserProvPage">
              <paper-icon-button icon="done-all"></paper-icon-button>
              <span>User Provide</span>
            </paper-button>
            <paper-button on-click="UserManagePage">
              <paper-icon-button icon="list"></paper-icon-button>
              <span>User Management</span>
            </paper-button>
            <!-- <paper-input label="" value="{{str1}}"></paper-input> -->
          </div>
        </app-drawer>

        <app-header-layout has-scrolling-region>
          <app-toolbar slot="header">
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <h3 main-title >IAAM (admin)</h3>

             <!-- <paper-icon-button icon="settings"></paper-icon-button> -->
            
            <!-- <paper-menu-button vertical-align="top" verticalOffset="100px" horizontal-align="right" closeAnimationConfig> -->
              <!-- <paper-icon-button icon="expand-more" slot="dropdown-trigger" alt="bottom align"></paper-icon-button> -->
              <!-- <paper-listbox id="listbox" slot="dropdown-content">
                <paper-item>alpha</paper-item>
                <paper-item>beta</paper-item>
                <paper-item>gammqqqqqqa</paper-item>
                <paper-item>delta</paper-item>
                <paper-item>epsilon</paper-item>
              </paper-listbox>-->
            <!-- </paper-menu-button>  -->

             <paper-progress id="loadprogress" value="100" indeterminate bottom-item></paper-progress> 
          </app-toolbar>
        </app-header-layout>

        <div>
          <admin-scorebroad x="[[sum(newUserData.length, currentUserData.length)]]" num-new-user-data="[[newUserData.length]]" num-current-user-data="[[currentUserData.length]]"></admin-scorebroad>
        </div>

        <!-- <div style=" display: flex;">
            <paper-input
            id="input_SearchKW"
            label="Search"
            required
            on-click="clickSearchKW"
            on-keydown="checkForEnter"
            value="{{str1}}">
                <iron-icon icon="backspace" slot="suffix" on-click="_clearSearchKW"></iron-icon>
            </paper-input>

            <paper-button
            id="search_but"
            raised
            style="height: 35px; margin-top: 20px;"
            on-click="_search">
                <iron-icon style="--iron-icon-fill-color: #3F51B5" icon="search" ></iron-icon>
            </paper-button>
        </div> -->

        <iron-pages id="ironpage" selected="0">
            <div>
              <admin-provide userdata="[[newUserData]]"></admin-provide>
            </div>
            <div>
              <admin-usermanage users="[[currentUserData]]" str-title="{{str1}}"></admin-usermanage>
            </div>
          </iron-pages>
          
      </app-drawer-layout>
      <footer-element></footer-element>
      
      <paper-dialog id="load_modal" modal>
          <div style="text-align: center; margin: 0; display: flex; padding: 20px;">
            <paper-spinner id="loadspin" active></paper-spinner>
            <span style="padding: 5px;">Loading...</span>
          </div>
      </paper-dialog>
      
  </template>
  
  <script>
    class AdminApp extends Polymer.Element {
      static get is() {return 'admin-app';}

      static get properties() {
        return {
          data1Status: {
            type: Boolean,
            value: false
          },
          
          data2Status: {
            type: Boolean,
            value: false
          },

          str1: {
            type: String,
            value: "",
          },
        };
      }

      ready() {
          super.ready()
          this.setLoadDialog();
          this.$.getnewUserReq.generateRequest();
          this.$.getCurrentUserReq.generateRequest();
      }

      sum (x, y){
        if(x || y){
          return x + y
        }else{
          return 0
        }
        
      }

      UserProvPage() {
        this.$.ironpage.selected = 0;

        if(!this.$.drawer.persistent){
          this.$.drawer.close();
        }
      }

      UserManagePage() {
        this.$.ironpage.selected = 1;
        if(!this.$.drawer.persistent){
          this.$.drawer.close();
        }
      }

      data1Response(data) {
        this.data1Status = true;
        this.setLoadDialog();
      }

      data2Response(data) {
        this.data2Status = true;
        this.setLoadDialog();
      }

      setLoadDialog() {
        if(this.data1Status && this.data2Status){
          this.$.loadspin.active = false;
          this.$.loadprogress.disabled = true;
          setTimeout(function(){
            this.$.load_modal.close();
          }.bind(this), 500);
        }else{
          this.$.load_modal.open();
        }
      }
    }

    window.customElements.define(AdminApp.is, AdminApp)
  </script> 
</dom-module>