<link rel="import" href="../../bower_components/polymer/polymer.html">

<!--<link rel="import" href="../../../lib/bower_components/polymer/polymer.html">-->


<dom-module id = "footer-element">
    <template>
        <style>
            :host {
                font-family: sans-serif;
                display: block;
                padding-top: 50px;
            }
            app-toolbar {
                height: 50px;
                min-width: 100%;
                background-color: rgba(156, 39, 176, 1);
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 0;
            }
        </style>

        <app-toolbar></app-toolbar>

    </template>
    <script>
        class FooterEle extends Polymer.Element {
            static get is() {return 'footer-element';}
        }

        window.customElements.define(FooterEle.is, FooterEle);
    </script>
</dom-module>