<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id = "forgetpassform-element">
    <template>
        <style>
            :host {
                font-family: roboto;
            }

            .full-width-container {
                  margin: auto;
                  padding: 20px;
            }

            paper-card {
                width: 40%;
                min-width: 300px; 
                max-width: 600px;
            }

            .card-content {
                max-width: 80%;
            }
        </style>
        
        <div class="full-width-container" align="center">
            <paper-card heading="Forget your password?" alt="Sailboat Harbor">
                <div class="card-content" align="left">
                    <paper-input
                    id="input_username"
                    value="{{username}}"
                    label="Username"
                    
                    allowed-pattern="[a-z0-9]"
                    required
                    
                    oninput="validate()">
                    </paper-input>

                    <paper-input
                    id="input_email"
                    value="{{email}}"
                    label="E-mail"

                    type="email"
                    required
                    oninput="validate()"
                    error-message="{{emailErrormsg}}">

                    
                    </paper-input>
                </div>
                <div class="card-actions" align="center" style="padding: 10px;">
                    <paper-button raised on-click="sendReq">Submit</paper-button>
                </div>
                    <a href="/" style="float:right; padding:20;"> forget username?</a>
            </paper-card>
        </div>

        <form action="/get-pass" method="POST">
            <input type="hidden" name="username" value="[[username]]">
            <input type="hidden" name="email" value="[[email]]">
            <button id="sub_but" style="visibility: hidden" type="submit">
        </form>


    </template>
    <script>
        Polymer({
            is: 'forgetpassform-element',

            properties: {
                username: {
                    type:String,
                    value: '',

                },

                email: {
                    type:String,
                    value: ''
                },

                emailErrormsg: {
                    type: String,
                    value: 'Example: ABC.xyz@example.com'
                },
            },

            sendReq:function(){
                var msg = "Username: " + this.username + 
                "\nE-mail: " + this.email;

                if(this.valid()){
                    alert(msg)
                    this.$.sub_but.click();
                }
            },

            valid:function(){
                this.$.input_username.validate();
                this.$.input_email.validate();

                if(this.$.input_email.validate() && this.$.input_username.validate()){
                    return true;
                }

                return false;
            }

        });
    </script>
</dom-module>