<dom-module id = "form-element">
    <template>
        <style is="custom-style">
            :host {
                font-family: sans-serif;
                display: block;
                padding: 5px;
                padding-bottom: 20px;
                --app-grid-item-height: auto;
            }

            paper-card {
                width: 100%;
                font-size: 1.5em;
                max-width: 480px;
                min-width: 320px;
                align-self: center;
                --paper-card-background-color: #F2F2F2;
            }

            paper-dropdown-menu {
                max-width: 100px;
                margin: auto;
                padding-left: 20px;
            }

            paper-input {
                width: 95%;
                max-width: 400px;
                margin: auto;
                --paper-input-container-focus-color: Indigo;
            }

            paper-input[disabled] {
                --paper-input-container-disabled: {
                    opacity: 0.8;
                }
            }

            iron-icon, div[suffix] {
                color: hsl(0, 0%, 50%);
                padding: 2px;
            }

            paper-button.subm, .decl {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: normal;
                font-size: 16px;
                padding-top: 10px;
                padding-bottom: 10px;
                -webkit-font-smoothing: antialiased;
                background-color: #FFFFFF;
            }

            paper-button.subm, .decl {
                width: 35%;
            }

            paper-button.subm {
                --paper-button-ink-color: #00C853;
            }

            paper-button.decl {
                --paper-button-ink-color: #E53935;
            }
            
            paper-button.searc{
                float : right;
                width: 30px;
                height: 35px;
                padding-bottom: 10px;
            }

            h3 {
                margin: 0;
            }
            
            .full-width-container {
                  width: 100%;
                  margin: auto;
            }

            paper-dialog {
                width: 100%;
                height: 100%;
                min-height: 565px;
                margin: 30px;
            }

            .grid-header {
                display: flex;
                margin: 0;
                padding-top: 10px;
                height: 10%;
                max-height: 65px;
            }

            @media screen and (max-width: 640px){
                paper-card {
                    max-width: none;
                    min-width: none;
                }
                 /* paper-input.grid-header { 
                    width: 100%;
                } */

                .grid{
                    display: block;
                }

                .grid-header {
                    display: block
                }
                .grid-header, h2 {
                    font-size: 17px;
                }

                .grid-body {
                    margin-top: 40px;
                    padding: 0;
                }
            }
        </style>

        <iron-ajax
            id="chkUserReq"
            url="/chkUser"
            handle-as="json"
            on-response="_chkUserResp">
        </iron-ajax>

        <iron-ajax
            id="chkEmailReq"
            url="/chkEmail"
            handle-as="json"
            on-response="_chkEmailResp">
        </iron-ajax>

        <div class="full-width-container">
            <paper-card>
                    <div class="card-content">
                        <div>
                        <h3>User account</h3>   

                            <paper-input
                            id="input_username"
                            value="{{username}}"
                            label="Username"

                            oninput="validate()"
                            on-change="_chkUserReq"

                            allowed-pattern="[a-z0-9]"
                            minlength="6"
                            required 
                            
                            invalid="{{usernameInvalid}}"
                            error-message="{{usernameErrormsg}}">
                            </paper-input>

                            <paper-input
                            id="input_password"
                            label="Password" 
                            type="password"
                            value="{{password}}"
                            minlength="6"
                            allowed-pattern="[a-zA-z0-9]"
                            onclick="validate()"
                            oninput="validate()"
                            required
                            error-message="เฉพาะภาษาอังกฤษกับตัวเลขอย่างน้อย 6 ตัว">
                            </paper-input>

                            <paper-input
                            id="input_conpassword"
                            label="Confirm-Password" 
                            type="password"
                            value="{{conpassword}}"
                            minlength="6"
                            allowed-pattern="[a-zA-z0-9]"
                            onclick="validate()"
                            on-input="validConpassword"
                            required
                            invalid="[[passwordInvalid]]"
                            error-message="[[conpasswordErrormsg]]">
                            </paper-input>

                        </div>
                        <br>
                        <h3>informations</h3>

                        <div>
                            <paper-dropdown-menu
                            id="input_nametitle"
                            label="Sex" 
                            required 
                            value={{nametitle}} 
                            no-animations
                            error-message="Please select!">
                                <paper-listbox id="listbox_nametitle" slot="dropdown-content" selected="0">
                                    <paper-item>----</paper-item>
                                    <paper-item>Male</paper-item>
                                    <paper-item>Female</paper-item>
                                </paper-listbox>
                            </paper-dropdown-menu>

                            <div style="display:flex; padding-bottom: 10px">
                                <paper-input 
                                id="input_fname" 
                                value="{{fname}}" 
                                style="width: 40%" 
                                required 
                                label="Name" 
                                onchange="validate()"
                                error-message="Please input."></paper-input>

                                <paper-input 
                                id="input_lname" 
                                value="{{lname}}" 
                                style="width: 40%" 
                                required label="Lastname"
                                onchange="validate()"
                                error-message="Please input."
                                ></paper-input>
                            </div>

                            <!--<paper-input 
                            type="String" 
                            label="Personal ID"
                            allowed-pattern="[0-9]"
                            maxlength="13">
                            </paper-input>-->

                            <paper-input
                            id="input_bdate"
                            type="date"
                            min="[[getmindate()]]"
                            max="[[getmaxdate()]]"
                            value="{{bdate}}"
                            
                            required
                            onchange="validate()"
                            label="Birth Date"
                            error-message="Please input.">
                                <div slot="prefix">
                                    <iron-icon icon="icons:date-range"></iron-icon>
                                </div>
                            </paper-input>

                            <paper-input
                            id="input_mbnumber"
                            allowed-pattern="[0-9+]"
                            maxlength="12"
                            minlength="10"
                            value="{{mbnumber}}"
                            label="Moblie Number"
                            onchange="validate()"
                            error-message="Please input 10 - 12 digits."
                            ></paper-input>

                            <paper-input 
                            id="input_email"
                            value="{{email}}"
                            label="E-mail"
                            type="email"
                            invalid="{{emailInvalid}}"

                            required
                            minlength="1"
                            error-message="{{emailErrormsg}}" 
                            
                            oninput="validate()"
                            on-change="_chkEmailReq"
                            >
                            </paper-input>
                        </div>
                        
                        <br>
                        <div style"display: flex;">
                            <paper-button class="searc" on-click="_openTableDialog" raised>
                                <iron-icon style="--iron-icon-fill-color: #3F51B5" icon="search" ></iron-icon>
                                <a style="font-size:14px">ค้นหา</a>
                            </paper-button>
                        </div>

                        <h3>Organization</h3>
                        <div>
                            <paper-input id="reg_orgName" onchange="validate()" required on-click="_openTableDialog"  label="Name"></paper-input>
                            <paper-input id="reg_orgArea" disabled label="Area of responsibility"></paper-input>
                            <paper-input id="reg_orgAdd" disabled label="Address"></paper-input>
                            <paper-input id="reg_orgProv" disabled label="province"></paper-input>
                            <paper-input id="reg_orgDist" disabled label="District"></paper-input>
                        </div>    
                    </div>
                    
                    <div class="card-actions" align="center" style="padding: 16px">
                        <paper-button class="subm" raised on-click="subReq"> 
                        <iron-icon style="--iron-icon-fill-color: #00C853" icon="check-box"></iron-icon>
                            Submit
                        </paper-button>

                        <paper-button class="decl" raised on-click="_clearDetail">
                        <iron-icon style="--iron-icon-fill-color: #E53935" icon="cancel" ></iron-icon>
                            Reset
                        </paper-button>
                    </div>
            </paper-card>
        </div>

        <paper-dialog class="v" id="modal" modal>
            <div class="grid-header">
                <h2  style="min-width: 250px; margin-bottom: 0;">ค้นหาหน่วยงาน</h2>

                <div class="search_set" style="display: flex;">
                    <paper-input
                    id="input_searchorg"
                    label="ค้นหา"
                    required
                    on-keydown="checkForEnter"
                    on-input="_search"
                    value="{{searchKW}}">
                        <iron-icon style="--iron-icon-fill-color: #3F51B5" icon="search" slot="prefix"></iron-icon>
                        <iron-icon icon="backspace" slot="suffix" on-click="_clearSearchKW"></iron-icon>
                    </paper-input>
                </div>

            </div>

            <div class="grid-body" style="overflow-x: scroll; overflow-y: hidden; height: 70%; padding: 0 10px;">
                <vaadin-grid 
                style="min-width: 800px; height: 160%;"
                id="grid" 
                active-item="{{activeItem}}"
                on-dblclick="_dialogSelected"
                size="10" 
                items='[[showData]]'>

                     <!-- <vaadin-grid-column width="250px" flex-grow="0">
                        <template class="header">หน่วยงาน</template>
                        <template>[[item.name]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="100px" flex-grow="0">
                        <template class="header">จังหวัด</template>
                        <template>[[item.province_name]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="100px" flex-grow="0">
                        <template class="header">อำเภอ</template>
                        <template>[[item.amphur_name]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="100px" flex-grow="0">
                        <template class="header">ตำบล</template>
                        <template>[[item.tambon_name]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="100px" flex-grow="0">
                        <template class="header">พื้นที่รับผิดชอบ</template>
                        <template>[[item.health_region_name]]</template>
                    </vaadin-grid-column>   -->

             
                    <vaadin-grid-column width="28.88888888888889%" flex-grow="0">
                        <template class="header">หน่วยงาน</template>
                        <template>[[item.name]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="14.32098765432099%" flex-grow="0">
                        <template class="header">จังหวัด</template>
                        <template>[[item.province_name]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="12.96296296296296%" flex-grow="0">
                        <template class="header">อำเภอ</template>
                        <template>[[item.amphur_name]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="11.48148148148148%" flex-grow="0">
                        <template class="header">ตำบล</template>
                        <template>[[item.tambon_name]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="32.34567901234568%" flex-grow="0">
                        <template class="header">พื้นที่รับผิดชอบ</template>
                        <template>[[item.health_region_name]]</template>
                    </vaadin-grid-column>   

                </vaadin-grid>
            </div>

            <div class="grid-buttom" style="margin-top: 5px; float: right;">
                <paper-button on-click="_dialogSelected" dialog-confirm autofocus>Select</paper-button>
                <paper-button on-click="_dialogCancle" dialog-confirm autofocus>Close</paper-button>
            </div>
            
        </paper-dialog>
        
        <!-- <paper-dialog id="modal" modal>
            <div class="grid-header">
                <h2  style="min-width: 250px; margin: 5px; padding-top: 13px;">ค้นหาหน่วยงาน</h2>

                <div class="search-org" style="display: flex; width:100%">
                    <paper-input
                    id="input_searchKW"
                    class="grid-header"
                    label="Search"
                    on-keydown="checkForEnter"
                    value="{{searchKW}}">
                        <iron-icon icon="backspace" slot="suffix" on-click="_clearSearchKW"></iron-icon>
                    </paper-input>
                    <paper-button id="search_but" style="height: 35px; margin-top: 20px;" on-click="_search">
                        <iron-icon style="--iron-icon-fill-color: #3F51B5" icon="search" ></iron-icon>
                    </paper-button>
                </div>
            </div>

            <div class="grid-body" style="height: 60%;">
                <vaadin-grid 
                id="grid" 
                active-item="{{activeItem}}"
                on-dblclick="_dialogSelected"
                size="10" 
                items='[[orgData]]'>
            

                    <vaadin-grid-column width="28.88888888888889%" flex-grow="0">
                        <template class="header">หน่วยงาน</template>
                        <template>[[item.name]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="14.32098765432099%">
                        <template class="header">จังหวัด</template>
                        <template>[[item.province_name]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="12.96296296296296%">
                        <template class="header">อำเภอ</template>
                        <template>[[item.amphur_name]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="11.48148148148148%">
                        <template class="header">ตำบล</template>
                        <template>[[item.tambon_name]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column width="32.34567901234568%">
                        <template class="header">พื้นที่รับผิดชอบ</template>
                        <template>[[item.health_region_name]]</template>
                    </vaadin-grid-column>

                </vaadin-grid>
            </div>

            <div class="table-buttons"  style="float: right;">
                <paper-button on-click="_dialogSelected" dialog-confirm autofocus>Select</paper-button>
                <paper-button on-click="_dialogCancle" dialog-confirm autofocus>Close</paper-button>
            </div>
        </paper-dialog> -->

        <form action="/register-done" method="POST">
            <input type="hidden" name="reg_username" value="[[username]]">
            <input type="hidden" name="reg_password" value="[[password]]">
            <input type="hidden" name="reg_nametitle" value="[[nametitle]]">
            <input type="hidden" name="reg_fname" value="[[fname]]">
            <input type="hidden" name="reg_lname" value="[[lname]]">
            <input type="hidden" name="reg_bdate" value="[[bdate]]">
            <input type="hidden" name="reg_mbnumber" value="[[mbnumber]]">
            <input type="hidden" name="reg_email" value="[[email]]">

            <input type="hidden" name="reg_org_name" value="[[activeItem.name]]">
            <input type="hidden" name="reg_org_id" value="[[activeItem.id]]">
            <input type="hidden" name="reg_org_health_region_name" value="[[activeItem.health_region_name]]">
            <input type="hidden" name="reg_org_amphur" value="[[activeItem.amphur_name]]">
            <input type="hidden" name="reg_org_province" value="[[activeItem.province_name]]">
            <input type="hidden" name="reg_org_tambon" value="[[activeItem.tambon_name]]">
            <button id="sub_but" style="visibility: hidden" type="submit">
        </form>

    </template>
    <script>
        Polymer({
            is: 'form-element',

            properties: {
                activeItem: {
                    observer: '_activeItemChanged'
                },

                // userDetail: {
                //     observer:
                // },

                password: String,
                conpassword: String,

                conpasswordErrormsg: {
                    type: String,
                    value: 'เฉพาะภาษาอังกฤษกับตัวเลขอย่างน้อย 6 ตัว'
                },

                orgData: {
                    type: Array,
                    observer: '_dataIN'
                },

                showData: {
                    type: Array,
                    value: [],
                },

                username: {
                  type: String,
                  value: '',
                },

                password: {
                    type: String,
                    value: '',
                }, 

                fname: {
                    type: String,
                    value: '',
                },
                lname: {
                    type: String,
                    value: '',
                },
                bdate: {
                    type: Date,
                    value: '',
                },
                mbnumber: {
                    type:Number,
                    value: '',
                },
                email:{
                    type: String,
                    value: '',
                },

                nametitle: {
                    type: String,
                    value: '',
                },
                
                repos: {
                    type: Array,
                    value: '',
                },

                usernameStatus: {
                    type: Boolean,
                },

                usernameInvalid: {
                    type:Boolean,
                    value: false
                },

                emailStatus: {
                    type: Boolean,
                },
                emailInvalid: {
                    type:Boolean,
                    value: false
                },

                passwordInvalid: {
                    type:Boolean,
                    value: false
                },

                usernameErrormsg: {
                    type: String,
                    value: 'เฉพาะภาษาอังกฤษกับตัวเลขอย่างน้อย 6 ตัว',
                },

                emailErrormsg: {
                    type: String,
                    value: 'Example: ABC.xyz@example.com'
                },
            },

            ready() {

            },

            _activeItemChanged: function(item) {
                // console.log(this.activeItem)
                this.$.grid.selectedItems = item ? [item] : [];
                activeItem = item;
            },

            subReq: function(){
                var msg = "Username: " + this.username +
                "\nTitle: " + this.nametitle +
                "\nFname: " + this.fname + 
                "\nLname: " + this.lname + 
                "\nB-Date: " + this.bdate +
                "\nNumber: " + this.mbnumber +
                "\nE-mail: " + this.email;
 
                if(this.checkDetail()){
                    alert(msg);
                    this.$.sub_but.click();
                }else{
                    alert("Please check detail!")
                }
            },

            _chkUserResp: function (data) {
                this.resp = data.detail.response;
                this.usernameStatus = this.resp.status;

                // alert('usernameStatus :' + this.usernameStatus)

                if(this.usernameStatus){
                    this.usernameErrormsg = "เฉพาะภาษาอังกฤษกับตัวเลขอย่างน้อย 6 ตัว"
                    this.usernameInvalid = false;
                }else{
                    this.usernameErrormsg = "Username ซ้ำ"
                    this.usernameInvalid = true;
                    // alert(this.usernameInvalid);
                }
            },

            _chkEmailResp: function (data) {
                this.resp = data.detail.response;
                this.emailStatus = this.resp.status;

                // alert('emailStatus :' + this.emailStatus)

                if(this.emailStatus){
                    this.emailErrormsg = "Example: ABC.xyz@example.hij"
                    this.emailInvalid = false;
                }else{
                    this.emailErrormsg = "Email ซ้ำ"
                    this.emailInvalid = true;
                }
            },

            _chkUserReq: function(){
                if(this.$.input_username.validate()){
                    this.$.chkUserReq.params = {reg_username: this.username};
                    this.$.chkUserReq.generateRequest();
                }
            },

            _chkEmailReq:function(){
                if(this.$.input_email.validate()){
                    this.$.chkEmailReq.params = {reg_email: this.email};
                    this.$.chkEmailReq.generateRequest();
                }
            },

            _openTableDialog: function(){
                this.$.modal.open();
            },

            _clearInputSearchKW:function(){
                this.searchKW = "";
                this.showData = this.orgData;
            },

            _dialogSelected: function(){
                this._clearInputSearchKW();
                // alert(this.activeItem.name);
                this.$.reg_orgName.value = this.activeItem.name;
                this.$.reg_orgName.invalid = false;
                this.$.reg_orgArea.value = this.activeItem.health_region_name;
                this.$.reg_orgAdd.value = this.activeItem.amphur_name;
                this.$.reg_orgProv.value = this.activeItem.province_name;
                this.$.reg_orgDist.value = this.activeItem.tambon_name;
                
            },

            _dialogCancle:function(){
                this._clearInputSearchKW();
            },

            _clearSearchKW:function(){
                this.$.input_searchorg.value = "";
                this._search();
            },

            

            _clearDetail:function(){
                this.$.input_username.value = "";
                this.$.input_fname.value = "";
                this.$.input_lname.value = "";
                this.$.input_bdate.value = "";
                this.$.input_mbnumber.value = "";
                this.$.input_email.value = "";
                this.$.listbox_nametitle.selected="0";

                this.$.reg_orgName.value = "";
                this.$.reg_orgArea.value = "";
                this.$.reg_orgAdd.value = "";
                this.$.reg_orgProv.value = "";
                this.$.reg_orgDist.value = "";
            },

            checkDetail:function(){
                // console.log(this.usernameInvalid);
                // console.log(this.emailInvalid);
                // console.log(this.passwordInvalid);

                this.validateAll();
                this.validConpassword();
                if(this.validateUserEmail()){
                    if(this.$.input_fname.validate()){
                        if(this.$.input_lname.validate()){
                            if(this.$.input_mbnumber.validate()){
                                if(this.$.input_nametitle.validate()){
                                    if(this.$.input_bdate.validate()){
                                        if(this.$.reg_orgName.validate()){
                                            if(this.checkpass()){
                                                return true;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                return false;
            },

            validateAll(){
                this.$.input_fname.validate();
                this.$.input_lname.validate();
                this.$.input_bdate.validate();
                this.$.input_mbnumber.validate();
                this.$.reg_orgName.validate();
                this.$.input_password.validate();
            },

            checkpass(){
                if(this.passwordInvalid){
                    return false
                }else{
                    if(this.$.input_password.validate()){
                        if(this.$.input_conpassword.validate()){
                            return true;
                        }
                    }
                }
            },

            validateUserEmail(){
                var temp1 = this.validateEmail()
                var temp2 = this.validateUser()
                if(temp1 && temp2){
                    return true
                }else{
                    return false;
                }
            },

            validateUser(){
                var temp = this.usernameInvalid;
                this.validateEmail();
                if(this.$.input_username.validate() && !temp){
                    return true
                }else{
                    this.usernameInvalid = true;
                    return false;
                }
            },

            validateEmail(){
                var temp = this.emailInvalid;
                if(this.$.input_email.validate() && !temp){
                    return true;
                }else{
                    this.emailInvalid = true;
                    return false;
                }
            },

            validConpassword() {
                console.log(this.password == this.conpassword);
                if(this.password === this.conpassword){
                    this.conpasswordErrormsg = 'เฉพาะภาษาอังกฤษกับตัวเลขอย่างน้อย 6 ตัว'
                    this.passwordInvalid = false;
                    this.$.input_conpassword.validate();
                }else{
                    this.conpasswordErrormsg = 'password ไม่ตรงกัน'
                    this.passwordInvalid = true;
                }
            },

            checkForEnter(e) {
                if(e.code == 'Enter'){
                    console.log(e)
                    this.$.search_but.click();
                }
            },

            _search() {
                console.log(this.searchKW);
                if(this.$.input_searchorg.validate()){
                    this.showData = this.find();
                }else{
                    // console.log(this.usersTemp)
                    this.showData = this.orgData;
                }
            },

            find() {
                var res = [];
                for(var i in this.orgData){
                    // console.log(this.orgData[i]);
                    // console.log(this.usersTemp[i].cn[1].search(this.strTitle))
                    if(this.orgData[i].name.search(this.searchKW) != -1){
                        res.push(this.orgData[i]);
                    }else if(this.orgData[i].province_name.search(this.searchKW) != -1){
                        res.push(this.orgData[i]);
                    }else if(this.orgData[i].amphur_name.search(this.searchKW) != -1){
                        res.push(this.orgData[i]);
                    }
                }
                console.log(res.length)
                return res;
            },

            _dataIN(data) {
                if(data.length > this.showData.length){
                    this.showData = data
                    console.log(this.showData)
                }
                // console.log(this.usersTemp)
            },

            getmindate(){
                var date = new Date();
                // console.log(date);

                var month = '' + (date.getMonth() + 1);
                var day = '' + date.getDate();
                var year = date.getFullYear() - 60;

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                return [year, month, day].join('-');

                // return '2017-07-01'  
            },

            getmaxdate(){
                var date = new Date();
                // console.log(date);

                var month = '' + (date.getMonth() + 1);
                var day = '' + date.getDate();
                var year = date.getFullYear() - 18;

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                return [year, month, day].join('-');

                // return '2017-07-31'
            }
        });


    </script>
</dom-module>