<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">

<dom-module id = "header-element">
    <template>
        <style>
            :host {
                font-family: roboto;
                display: block;
                position: relative;
                padding-bottom: 50px;
                z-index: 1;
            }

            app-header {
                @apply(--layout-fixed-top);
                height: 50px;  
                background-color: rgba(156, 39, 176, 0.6);
            }
            
            app-toolbar {   
                height: 50px;
                background-color: rgba(66, 133, 244, 0);
                padding-left: 6.25%;
                padding-right: 6.25%;
            }
            paper-progress {
              display: block;
              width: 100%;
              --paper-progress-active-color: rgba(255, 255, 255, 0.5);
              --paper-progress-container-color: transparent;
            }
            paper-icon-button {
              --paper-icon-button-ink-color: white;
              margin-left: -3px
            }

            h3 {
                font-size: 2em;                
            }
        </style>

        <app-header style="background: rgba(156, 39, 176, 1)"></app-header>
        
        <app-header condenses reveals>
          <app-toolbar>
              <h3 main-title style="padding-left: 10%">IAAM</h3>
              <!--<paper-progress value="30" indeterminate bottom-item></paper-progress>-->
          </app-toolbar>
        </app-header>

    </template>
    <script>
        class HeaderEle extends Polymer.Element {
            static get is() { return 'header-element'; }
        }
        
        window.customElements.define(HeaderEle.is, HeaderEle);
    </script>
</dom-module>