<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-error.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-layout/app-grid/app-grid-style.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">


<dom-module id="regis-page-app">
  <template>

    <style>
      :host {
        display: block;
        max-width: 100%;
      }
    </style>

    <style include="app-grid-style">
      :host {
        max-width: 100%;
        --app-grid-columns: 2;
        --app-grid-item-height: 1%;
        --app-grid-gutter: 10px;
      }

      .item {
        /*background: gray;*/
      }

      @media screen and (max-width: 640px){
          :host {
              --app-grid-columns: 1;
          }

          .item #title{
            display: none;
          }
      }
    </style>

    <iron-ajax
      id="getOrgReq"
      url="/get-org"
      handle-as="json"
      on-response="dataResponse"
      last-response="{{OrgData}}">
    </iron-ajax>

    <header-element></header-element>

    <div class="app-grid" has-aspect-ratio>
      <title-element class="item" id="title"></title-element>
      <form-element class="item" org-data="{{OrgData}}"></form-element>
    </div>

    <footer-element></footer-element>

  </template>

  <script>
    class RegisEle extends Polymer.Element {
      static get is() { return 'regis-page-app'; }

      static get properties() {
        return {
          OrgData: {
              type: Array,
          },
        };
      }

      ready() {
        super.ready()
        this.$.getOrgReq.generateRequest();
        // if(this.OrgData){
        //   console.log(this.OrgData);
        // }
      }

      dataResponse(data){
        if(this.OrgData){
          // console.log(this.OrgData);
        }
      }
    }

    window.customElements.define(RegisEle.is, RegisEle);
  </script>
</dom-module>
