<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id = "repassword-element">
    <template>
        <style>
            :host {
                font-family: roboto;
            }

            .full-width-container {
                  margin: auto;
                  padding: 20px;
            }

            paper-card {
                width: 40%;
                min-width: 300px; 
                max-width: 600px;
            }

            .card-content {
                max-width: 80%;
            }
        </style>
    
        <iron-ajax
            id="repassreq"
            url="/renewPass"
            handle-as="json"
            on-response="repassres">
        </iron-ajax>
        
        <div class="full-width-container" align="center">
            <paper-card heading="Please enter new password" alt="Sailboat Harbor">
                <div class="card-content" align="left">
                    <paper-input id="username" value="[[username]]" disabled label="Username"></paper-input>
                    
                    <paper-input
                    id="input_password"
                    label="New Password"
                    type="password"
                    value="{{password}}"
                    
                    minlength="6"
                    allowed-pattern="[a-zA-z0-9]"
                    error-message="เฉพาะภาษาอังกฤษกับตัวเลขอย่างน้อย 6 ตัว"
                    
                    required
                    oninput="validate()">
                    </paper-input>

                    <paper-input
                    id="input_conpassword"
                    label="Confirm Password"
                    type="password"
                    value="{{conpassword}}"

                    minlength="6"
                    allowed-pattern="[a-zA-z0-9]"
                    invalid="[[passwordInvalid]]"
                    error-message="[[conpasswordErrormsg]]"
                    
                    on-input="validConpassword"
                    required>
                    </paper-input>
                </div>
                <div class="card-actions" align="center" style="padding: 10px;">
                    <paper-button raised on-click="sendReq">Submit</paper-button>
                </div>
            </paper-card>
        </div>

        <a id="refresh" type="" href="/"></a>
    </template>
    <script>
        class RePass extends Polymer.Element {
            static get is() { return 'repassword-element'; }

            static get properties() {
                return {
                    username: {
                        type:String,
                        value: 'ABC-XYZ',
                    },

                    password: {
                        type:String,
                        value: ''
                    },

                    conpasswordErrormsg: {
                        type: String,
                        value: 'เฉพาะภาษาอังกฤษกับตัวเลขอย่างน้อย 6 ตัว'
                    },

                    passwordInvalid: {
                        type:Boolean,
                        value: false
                    },
                };
            }

            ready(){
                super.ready();
                // console.log()
            }

            sendReq(){
                if(this.checkpass()){
                    this.$.repassreq.params = {new_password: this.password, uid: this.username};
                    this.$.repassreq.generateRequest();
                }
            }

            checkpass(){
                if(this.passwordInvalid){
                    return false
                }else{
                    if(this.$.input_password.validate()){
                        if(this.$.input_conpassword.validate()){
                            return true;
                        }
                    }
                }
            }

            validConpassword() {
                console.log(this.password == this.conpassword);
                if(this.password === this.conpassword){
                    this.conpasswordErrormsg = 'เฉพาะภาษาอังกฤษกับตัวเลขอย่างน้อย 6 ตัว'
                    this.passwordInvalid = false;
                    this.$.input_conpassword.validate();
                }else{
                    this.conpasswordErrormsg = 'password ไม่ตรงกัน'
                    this.passwordInvalid = true;
                }
            }

            repassres(data){
                if(data.detail.response.result == true){
                    console.log('DONE')
                }else{
                    alert('Fail!')
                }
                this.$.refresh.click();
            }

        }

        window.customElements.define(RePass.is, RePass)
    </script>
</dom-module>