<dom-module id = "title-element">
    <template>
        <custom-style>
            <style>
                :host {
                    font-family: roboto;
                    display: static;
                    padding: 5px;
                    padding-top: 10px;
                    /*height: 100%;*/
                    /*background: green;  */
                }
            </style>
            <style is="custom-style">
                #full-width-container {
                  width: 100%;
                  max-width: 650px;
                  margin: auto;
                }

                #full-width {
                  width: 100%;
                  --iron-image-width: 100%;
                }
                iron-image{
                    padding-top: 40%;
                    /*padding-bottom: 50%;*/
                }

                @media screen and (max-width: 640px){
                    :host {
                        --app-grid-columns: 1;
                    }
                    iron-image{
                        padding-top: 20px;
                    /*padding-bottom: 50%;*/
                    }
                    h1 {
                        font-size: 20px;
                    }
                    #full-width-container{
                        display: none;
                    }
                }
            </style>
        </custom-style>

        <div id="full-width-container">
          <iron-image class="img-logo" id="full-width" alt="The Polymer logo." src="../img/trb-reg.png"></iron-image>
        </div>

        <div align="center">
            <h1>Create your account</h1>
        </div>
    </template>

    <script>
        class TitleEle extends Polymer.Element {
            static get is() { return 'title-element'; }
        }

        window.customElements.define(TitleEle.is, TitleEle)
    </script>
</dom-module>